//main: style.scss


.contact{
  display: flex;
  flex-wrap:wrap;
  min-height: 80vh;
  .text{
    flex: 2 1 46rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      min-height: 50vh;
      textarea{
        padding: 0.5rem;
        border-radius: 5px;
        vertical-align: top;
        width: 100%;
        min-height: 6rem;
      }
      .submit{
        border:none;
        font-size: 1rem;
        padding: 1em 2em;
        margin: 1em;
        background-color: $main-color;
        border-radius: 5px;
        color: $font-color;
      }
    }
  span{
    margin: 1em;
  }
    .email{
      font-size: 2rem;
    }
  }
  .image{
    flex: 1 1 30rem;
    img{
      height: 100%;
      width:100%;
      object-fit: cover;

    }
  }
}
