// main: style.scss

footer{

  background-color: $main-color;
text-align: center;
color: $font-color;
  .social-media{
   padding: 0.5rem;
  a { margin: 0.5rem 1rem;

    img{
    max-width: 2.5rem;}
    }
}
}
