// main:style.scss
.paintings, .prints{
@include flex(space-around, center, row);
max-width: 90vw;
margin:auto;
margin-top: 10vh;
}

figure{
  width: 200px;
  height: 150px;
  transition: 1s;
  padding: 0.4rem;
  background:rgb(244, 245, 245);
  border: 1px solid rgb(220, 220, 220);
  color:black;
  font-size: 0.8rem;
  margin-top: 1rem;
  cursor: pointer;
  &:hover{
    filter: grayscale(50%);
    transform: scale(1.1,1.1);
  }
}

img{
  object-fit:cover;
  width: 100%;
  height: 100%;
}

figcaption{
display: none;
}

#lightbox{
  position:fixed;
  z-index: 10;
  top:0;
  width:100%;
  height: 100%;
  display:none;
}

.lightbox__image{
  height: 80vh;
  width: auto;
  padding: 0.8rem;
  background:rgb(244, 245, 245);
  border: 1px solid rgb(220, 220, 220);
}

#lightbox.active{
  @include flex(center,center,row);
  background: rgba(0, 0, 0, 0.9);
}

@media screen and( max-width: 600px){
  figure{
    width: 100px;
    height:80px;
    padding: 0.2rem;
  }
}
